* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

body {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.whole-container {
    margin-top: 20px;
    width: 610px;
    border-radius: 30px;
    display: flex;
    border: none;
    box-shadow: 5px 7px 20px rgba(69, 46, 199, 0.1);
}

.result-container {
    height: 420px;
    width: 300px;
    background: linear-gradient(rgb(95, 71, 235), hsla(241, 81%, 54%));
    text-align: center;
    border-radius: 25px;
}

.title {
    color: hsl(241, 74%, 85%);
    font-size: 19px;
    font-weight: 800;
    margin: 30px 0;
}

.result {
    background: linear-gradient(rgb(69, 19, 206), hsla(241, 72%, 46%, 0));
    height: 170px;
    width: 170px;
    border-radius: 90px;
    margin-left: 25%;
    box-shadow: 2px 2px 5px 0.2;
    border: none;
}

.result-percentage-top {
    color: white;
    font-weight: 800;
    font-size: 58px;
    padding-top: 40px;
    margin-bottom: -5px;
}

.result-percentage-bottom {
    color: hsl(241, 56%, 78%);
    font-weight: 800;
}

.conclusion-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-left: 50px;
    color: hsl(240, 13%, 76%);
}

.result-status {
    font-size: 25px;
    color: white;
    margin: 15px 0 10px;
}

.summary-container {
    padding-left: 30px;
    background-color: white;
    flex: 1;
    border-radius: 30px;
}

.summary-title {
    font-size: 22px;
    font-weight: 800;
    margin: 30px 0 15px;
}

.summary-line-reaction,
.summary-line-memory,
.summary-line-verbal,
.summary-line-visual {
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: 45px;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 10px;
}

img {
    margin: 0 8px;
}

.summary-line-left {
    display: flex;
}

.summary-line-right {
    display: flex;
}

.summary-line-right {
    color: hsl(223, 18%, 69%);
    font-weight: 500;
}

span {
    color: black;
    font-weight: 800;
}

.reaction {
    color: hsl(0, 100%, 67%);
}

.summary-line-reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
    color: hsl(39, 100%, 56%);
}

.summary-line-memory {
    background: hsla(39, 100%, 56%, 0.1);
}

.verbal {
    color: hsl(166, 100%, 37%);
}

.summary-line-verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
    color: hsl(234, 85%, 45%);
}

.summary-line-visual {
    background: hsla(234, 85%, 45%, 0.1);
}

button {
    width: 246px;
    margin-top: 30px;
    height: 50px;
    border: none;
    background: hsl(224, 30%, 27%);
    border-radius: 25px;
    color: white;
}

button:hover {
    cursor: pointer;
}

button:active {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
